.edu-grid {
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  gap: clamp(1rem, 1vw, 2rem);
  align-items: start;
}

/* primary on the left */
.edu-primary {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.edu-card.major {
    padding: 1rem 2rem;
    border-radius: 20px;
    background: var(--edumajor);
    border: 1px solid var(--lpurple);

    transition: transform 0.15s ease;
}

.edu-card.major:hover {
    transform: translateY(-4px);
}

/* secondary on the right */
.edu-secondary {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.edu-card.minor {
  padding: 0.9rem 1.2rem;
  border-radius: 14px;

  background: var(--bg);
  opacity: 0.8;

  transition: opacity 0.1s ease;
}

.edu-card.minor:hover {
  opacity: 1;

}

.edu-card.minor .experience-subtitle {
  font-size: 0.95rem;
  font-weight: 450;
}

.edu-card.minor .experience-desc {
  font-size: 0.8rem;
}