.experience-container {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  border: 2px dashed var(--dpurple);
  border-radius: 18px;
  background: color-mix(in srgb, var(--sectionbg) 65%, transparent);
  backdrop-filter: blur(2px);

  margin: 0 auto 0 auto;
  max-width: clamp(200px, 50vw, 800px);

}

/* font/logo shit! */
.experience-logo {
  width: 60px;
  height: 60px;
  border-radius: 11px;
  margin-bottom: 0.4rem;
  object-fit: contain;
  padding: 4px;
}

.experience-title {
  font-size: clamp(1.2rem, 5vw, 1.5rem);
  font-weight: 400;
  font-family: "Crimson Pro";
  color: var(--fblue);
  margin: 0.5rem 0;
}

.experience-subtitle {
  font-size: clamp(0.9rem, 2vw, 1rem);
  font-family: "Lexend";
  margin: 0;
  color: var(--white);
}

.experience-year {
  font-size: clamp(0.8rem, 2vw, 0.9rem);
  color: var(--muted);
  margin: 5px 0;
  font-family: "Lexend";
}

.experience-desc,
.experience-desc li {
  font-size: clamp(0.7rem, 1.5vw, 0.9rem);
  color: var(--edutext);
  font-family: "Lexend";
  margin: 0;
}

.edu-experience-desc,
.edu-experience-desc li {
  font-size: clamp(0.8rem, 2vw, 1rem);
  color: var(--edutext);
  line-height: 1.5;
  font-family: "Lexend";
  margin: 0;
}