.project-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 2px dashed var(--purple);
  background: color-mix(in srgb, var(--sectionbg) 65%, transparent);
  border-radius: 20px;
  backdrop-filter: blur(2px);
  padding: 1rem 2rem;

  margin: 0 auto 0 auto;
  max-width: clamp(200px, 50vw, 800px);
}
/* for the songs */
.song-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}
/* for the tech */
.project-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1rem;
  align-items: stretch;
}

.project-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: flex-start;
  background: var(--blue);
  border: 2px solid var(--tblue);
  padding: 10px 25px;
  border-radius: 20px;
  min-width: 0;

  transition: transform 0.2s ease;
}

.project-column:hover {
  transform: translateY(-2px);
  border-color: var(--gold);
}

.project-mini-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.project-logo {
  width: clamp(60px, 5vw,80px);
  height: clamp(60px, 5vw,80px);
  border-radius: 15px;
  object-fit: cover;
}

/* FONT... */

.project-title {
  font-size: clamp(1.5rem, 3vw, 2rem);
  font-family: "Crimson Pro";
  color: var(--white);
  margin: 0;
}

.project-desc {
  font-size: clamp(0.8rem, 2vw, 0.9rem);
  font-family: "Lexend";
  color: var(--white);
}

.project-row a {
  text-decoration: none;
  color: inherit;
}