.project-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 2px dashed var(--lpurple);
    background: color-mix(in srgb, var(--surface) 65%, transparent);
    border-radius: 20px;
    backdrop-filter: blur(2px);
    padding: 1rem 2rem;

    max-width: 50vw;
}

.song-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.project-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}


.project-column:hover {
    transform: translateY(-2px);
    border-color: var(--gold);
}
