@media (max-width: 1050px) {
    .vertical-nav {
        display: none;
    }
    .photo-strip {
        position: relative;
        left: 0;
    }
    .photo-strip-side-left {
        display: flex;
        flex-direction: row;
        gap: clamp(50px, 5vw, 100px);
        margin-right: clamp(50px, 9vw, 200px);
        margin-left: clamp(20px, 2vw, 100px);
    }
    .photo-strip-content-column {
        display: flex;
        flex-direction: column;
    }
    .tags-row {
        margin-top: 0.5rem;
    }
}

@media (max-width: 850px) {
    .photo-strip {
        display: none;
    }
    .whoami-container, .skills-container, .project-container, .experience-container {
        max-width: clamp(200px, 70vw, 800px);
    }
    .photo-strip-side-left {
        margin: 0 auto 0 auto;
    }
}

@media (max-width: 550px) {
    #contact-me p {
        display: none;
    }
}


/* auto scroll horizontal pics :) for phone */