@media (max-width: 1050px) {
    .vertical-nav {
        display: none;
    }
    .photo-strip {
        position: relative;
        margin-right: 100px;
    }
    .photo-strip-side-left {
        display: flex;
        flex-direction: row;
        padding: 50px;
    }
    .photo-strip-content-column {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 700px) {
    #contact-me p {
        display: none;
    }
}

@media (max-width: 600px) {
    body {
        padding-left: 0;
    }
    .photo-strip {
        position: relative;
        flex-direction: row;
        justify-content: center;
        margin: 2rem auto;
    }
    .photo-strip img {
        width: 110px;
        transform: rotate(0deg);
    }
    .whoami-card {
        flex-direction: column;
    }

    .whoami-text {
        max-width: 100%;
    }

    .whoami-tags {
        justify-content: flex-start;
        margin-top: 1rem;
    }
}

/* auto scroll horizontal pics :) for phone */