.skills-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 2rem;
    border: 2px dashed var(--dpurple);
    border-radius: 18px;
    background: var(--surface);
    backdrop-filter: blur(6px);

    max-width: 50vw;
    max-height: 50vh;
}

.skills-row {
    display: flex;
    flex-direction: row;
    
}

.skills-column {
    width: 30vw;
    border-right: 2px solid var(--muted);
    margin-right: 1vw;
}

.skills-title {
    color: var(--dpurple);
    font-weight: 300;
    font-size: 2rem;
    font-family: "Inter";
    margin: 0;
}

.skills-subtitle {
    color: var(--lpurple);
    font-weight: 250;
    font-size: 1.2rem;
    font-family: "Inter";
    margin: 0;
}

.skills-desc {
    color: var(--white);
    font-weight: 350;
    font-size: 1rem;
    font-family: "Inter";
    font-style: normal;
    margin: 0;
    line-height: 1.55;    
}
